<body class="blue">
  <main style="padding-top: 1rem">
    <section id="login">
      <div class="container-fluid pt-4">
        <div class="row">
          <div class="col s8 offset-s2">
            <div class="login-form">
              <div class="card hoverable">
                <div class="card-content">
                  <span class="card-title center"><h3><b>Edit <%= resource_name.to_s.humanize %></b></h3></span>
                  <center>Edit</center>
                  <div class="divider"></div></br>

                  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <%= devise_error_messages! %>

                  <div class="input-field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true %>
                  </div></br>

                  <div class="input-field">
                    </br>
                    <%= f.input :name, label: "Nama Pengguna" ,autofocus: true %>
                  </div></br>

                  <div class="textarea">
                    </br>
                    <%= f.input :address, label: "Alamat", autofocus: true%>
                  </div></br>

                  <div class="input-field">
                    </br>
                    <%= f.input :pekerjaan%>
                  </div></br>

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>

                  <div class="input-field">
                    <%= f.label "Katasandi" %> <i>biarkan kosong jika Anda tidak ingin mengubah password</i>
                    <%= f.password_field :password, autocomplete: "off" %></br>
                    <% if @minimum_password_length %>
                    <br />
                    <em>Minimal <%= @minimum_password_length %> Karakter</em>
                    <% end %>
                  </div>

                  <div class="input-field">
                    <%= f.label "Konfirmasi Katasandi" %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "off" %></br>
                  </div>

                  <div class="input-field">
                    <%= f.label "Katasandi Saat Ini" %> <i>masukan password Anda untuk mengubahnya</i><br />
                    <%= f.password_field :current_password, autocomplete: "off" %></br>
                  </div>

                  <div class="actions">
                    <%= f.submit "Update" %>
                  </div>
                  <% end %>

                  <h3>Cancel my account</h3>

                  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

                  <%= link_to "Back", :back %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>



