<body class="blue">
  <main style="padding-top: 1rem">
    <center><%= image_tag("startup.png") %></center>
    <section id="login">
      <div class="container-fluid pt-4">
        <div class="row">
          <div class="col s4 offset-s4">
            <div class="login-form">
              <div class="card hoverable">
                <div class="card-content blue-grey lighten-5">
                  <span class="card-title">
                    <b><h5>DAFTAR AKUN BARU SEKARANG</h5></b>
                    <div class="divider"></div></br>
                    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= render 'partial/message_devise' %>
                    <div class="form-input row">
                      <div class="input-field">
                        <%= f.label :email %>
                        <%= f.email_field :email, autofocus: true %>
                      </div>

                      <div class="input-field">
                        <%= f.input :name, label: "Nama", autofocus: false %>
                      </div>

                      <div class="input-field">
                        <%= f.label :password %>
                        <%= f.password_field :password, autocomplete: "off" %>
                      </div>

                      <div class="input-field">
                        <%= f.label :password_confirmation %>
                        <%= f.password_field :password_confirmation, autocomplete: "off" %>
                      </div>
                      <br>
                      <div class="actions center">
                        <%= f.submit "Daftar", class: "btn c-btn c-btn--large c-btn--red c-btn--block"%>
                      </div>
                      </br>
                      <div class="c-separator">
                        <span class="c-separator__text">ATAU</span>
                      </div>
                      <br>
                      <%- if devise_mapping.omniauthable? %>
                        <%- resource_class.omniauth_providers.each do |provider| %>
                          <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: "btn c-btn c-btn--large c-btn--facebook c-btn--block" %>
                          <% end -%>
                        <% end -%>
                      <% end %>
                      <br>
                      <h6>Sudah Punya Akun? <%= link_to "Login Disini", new_user_session_path %></h6>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>