<ul id="dropdown1" class="dropdown-content hover">
  <li><%= link_to 'Home', root_path%></li>
  <li><%= link_to 'Profile', profile_index_path%></li>
</ul>

<ul id="dropdown2" class="dropdown-content hover">
  <li><a href="#!">Pendidikan</a></li>
  <li><a href="#!">Sosial</a></li>
  <li><a href="#!">Keagamaan</a></li>
  <li><a href="#!">Ekonomi</a></li>
</ul>

<ul id="dropdown3" class="dropdown-content hover">
  <li><a href="#!">Dokumentasi Foto</a></li>
</ul>

<ul id="dropdown4" class="dropdown-content hover">
  <% Category.all.each do |c| %>
  <li>
  	<%= link_to c.name, posts_path(category: c.name), class: "link" %>
  </li>
  <% end %>
</ul>

<ul id="dropdown5" class="dropdown-content hover"> 
  <li><%= link_to "Profile Saya", edit_user_registration_path %></li>
  <li><%= link_to "Ubah Password", edit_user_password_path %></li>
  <li><%= link_to "Keluar", destroy_user_session_path, method: :delete, data: { confirm: "Apakah Kamu Yakin Ingin Keluar?" } %></li>
</ul>