<header class="navbar-fixed">  
  <nav class=" blue darken-1">
    <div class="nav-wrapper">
      <%= link_to 'Bale Kreatif', root_path%>
      <i class="material-icons left">filter_drama</i>
      <span class="brand-logo"></span>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="site-nav__link dropdown-button" data-activates="dropdown1" data-beloworigin="true" data-constrainwidth="false" data-hover="true"><i class="material-icons left">home</i>Home</a></li>
      <li><a class="site-nav__link dropdown-button" data-activates="dropdown2" data-beloworigin="true" data-constrainwidth="false" data-hover="true"><i class="material-icons left">layers</i>Program</a></li>
      <li><a class="site-nav__link dropdown-button" data-activates="dropdown3" data-beloworigin="true" data-constrainwidth="false" data-hover="true"><i class="material-icons left">note_add</i>Kegiatan</a></li>
      <li><a class="site-nav__link dropdown-button" data-activates="dropdown4" data-beloworigin="true" data-constrainwidth="false" data-hover="true"><i class="material-icons left">new_releases</i>Berita</a></li>
      <% if !user_signed_in? %>
        <li><%= link_to "Masuk", new_user_session_path %></li>
        <li><%= link_to "Daftar", new_user_registration_path, class: "btn waves-effect waves-light pink darken-1" %></li>
      <% else %>
        <li><a class="site-nav__link dropdown-button" data-activates="dropdown5" data-beloworigin="true" data-constrainwidth="false" data-hover="true"><i class="material-icons left">person_pin</i><%= current_user.name%></a></li>
      <% end %>
    </ul>
  </div>
</nav>
</header>

<%= render 'partial/dropdown' %>