<header class="navbar-fixed">  
  <nav class=" blue darken-1">
    <div class="nav-wrapper">
      <%= link_to 'Bale Kreatif', root_path%>
        <i class="material-icons left">filter_drama</i>
        <span class="brand-logo"></span>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to 'Home', root_path%></li>
        <li><%= link_to 'Profile', profile_balekreatif_path%></li>
        <li><a class="site-nav__link dropdown-button" href="#" data-activates="dropdown2" data-beloworigin="true" data-constrainwidth="false" data-hover="true"><i class="material-icons left">layers</i>Program</a></li>
        <li><a class="site-nav__link dropdown-button" href="#" data-activates="dropdown1" data-beloworigin="true" data-constrainwidth="false" data-hover="true"><i class="material-icons left">note_add</i>Kegiatan</a></li>
        <% if user_signed_in? %>
          <li><%= link_to "Add Post", new_post_path %></li>
        <% end %>
        <% if user_signed_in? %>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>

<%= render 'partial/dropdown' %>