<body class="blue">
  <main style="padding-top: 1rem">
    <center><%= image_tag("login.png") %></center>
    <section id="login">
      <div class="container-fluid pt-4">
        <div class="row">
          <div class="col s4 offset-s4">
            <div class="login-form">
              <div class="card hoverable">
                <div class="card-content blue-grey lighten-5">
                  <span class="card-title">
                    <b><h5><center>SILAKAN LOGIN</center></h5></b>
                    <div class="divider"></div></br>
                    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="input-field">
                      <%= f.label :email %>
                      <%= f.email_field :email, autofocus: true %>
                    </div>

                    <div class="input-field">
                      <%= f.label :password %>
                      <%= f.password_field :password, autocomplete: "off" %>
                    </div>

                    <% if devise_mapping.rememberable? -%>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div></br>
                    <% end %>

                    <div class="actions">
                      <%= f.submit "Log in", class: "btn c-btn c-btn--large c-btn--red c-btn--block" %>
                    </div>
                  <br>
                  <div class="c-separator">
                    <span class="c-separator__text">ATAU</span>
                  </div>
                  </br>
                  <%- if devise_mapping.omniauthable? %>
                    <%- resource_class.omniauth_providers.each do |provider| %>
                      <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: "btn c-btn c-btn--large c-btn--facebook c-btn--block" %>
                      <% end -%>
                    <% end -%>
                  <% end %>
                  <br>
                  <h6>Tidak Punya Akun? <%= link_to "Daftar Disini", new_user_registration_path %></h6>
                  <br>
                  <%= render "devise/shared/links" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>