<h1 class="current-category center"><%= params[:category] %></h1>

<% if @posts.count == 0 %>
<div>
	<h4 class="center-align">"Kategori Berita Yang Anda Pilih Saat Ini Tidak Tersedia"</h4>
</div>
<% else %>
<div class="row">
	<% @posts.each do |p| %>
	<%= link_to p do %>
	<div class="col s6 m3">
		<div class="card small">
			<div class="card-image waves-effect waves-block waves-light">
				<%=  image_tag p.image.url %>
			</div>
			<div class="card-content">
				<span class="card-title grey-title text-darken-4">
					<h6><%= p.title %></h6>
					<h6>Oleh: <%= p.author %></h6>
					<h6><%= I18n.l(p.created_at.to_date) %></h6>
				</span>
			</div>
		</div>
	</div>
	<% end %>
	<% end %>
	<% end %>
</div>

<%= render 'partial/promotion' %>
