<center><%= image_tag @post.image.url, class: 'card large' %></center>
<h3><%= @post.title %></h3>
<p><b><%=  @post.created_at %></b></p>
<h5>Penulis: <%= @post.author %></h5>
<p><%= @post.description %></p>

<%= link_to "Back", root_path %>