<!DOCTYPE html>
<html>
<head>
  <title>BaleKreatif</title>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'b.png' %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <%= render 'partial/navbar' %>
  <% if controller.controller_name == "posts" && controller.action_name == "index" %>
    <%= render 'partial/banner' %>
    <h3><b><center>KABAR BERITA</center></b></h3>
  <% end %>
  <%= render 'partial/fab' %>

  <% if current_user %>
    <%= auto_session_timeout_js %>
  <% end %>
  
  <div class="">
    <%= render 'partial/message' %>
    <%= yield %>
  </div>

  <%= render 'partial/footer' %>
</body>

<script type="script/javascripts">
  $(".button-collapse").sideNav();
  $( document ).ready(function)
  $(".dropdown-button").dropdown();
  $('.dropdown-button').dropdown('open');
  $(document).ready(function() {
    $('select').material_select();
  });
</script>
</html>
